@import "tailwindcss";
@import "./styles/responsive.css";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
}

.light {
  --primary: #ffffff;
  --secondary: #000000;
  --background: #f0f0f0;
  --text: #333333;
}

.dark {
  --primary: #000000;
  --secondary: #ffffff;
  --background: #333333;
  --text: #f0f0f0;
}
